<section id="footer">
    <footer>
        <div class="row justify-content-around">
            <div class="col-md-2 col-sm-6">
                <ul>
                    <li><a href="about">About Us</a></li>
                    <li><a href="contact">Contact Us</a></li>
                    <li><a href="campus-ambassador">Campus Ambassador</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6">
                <ul>
                    <li><i class="fab fa-facebook-f"></i><a
                            href="https://www.facebook.com/sixinterns-100138531452299/">&nbsp;&nbsp;&nbsp;Facebook</a>
                    </li>
                    <li><i class="fab fa-twitter"></i><a
                            href="https://twitter.com/SixInterns?s=09">&nbsp;Twitter</a> </li>
                    <li><i class="fab fa-instagram"></i><a
                            href="https://www.instagram.com/sixinterns_india/">&nbsp;&nbsp;Instagram</a></li>
                    <li><i class="fab fa-linkedin"></i><a
                            href="https://www.linkedin.com/company/sixinterns">&nbsp;&nbsp;LinkedIn</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 form-footer">
                Subscribe to Our Newsletter
                <form action="">
                    <input type="text" placeholder="Name"><br>
                    <input type="email" placeholder="E-mail"><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="col-md-2 col-sm-6">
                <h6>Partners</h6>
                <p>For enquiries relating to Six interns, potential partnerships or other business related
                    enquiries, <strong> Email: sales@sixinterns.com</strong></p>
            </div>
            <div class="col-md-2 col-sm-6">
                <p><strong>SixInterns Pvt. Ltd.</strong></p>
                <address>
                    Jalandhar-Delhi G.T. Road<br>
                    Phagwara, Punjab 144411<br>
                    Phone: 9110597711<br>
                    <strong>Email: support@sixinterns.com</strong></address>
            </div>
        </div>
    </footer>
</section>
</body>

</html>