<%- include('partials/header'); -%>
<body>
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/about.css">
    <section id="landing">
        <header>
            <nav class="acumin">
                <a class="navbar-brand" href="home"><img src="images/clogo.png" alt="Comapny Logo"></a>
                <button class="btn-invert"><a href="login">Log In / Sign Up</a></button>
            </nav>
        </header>

        <article class="heading-box">
            <img src="images/projImages/personholdingphone.jpg" class="top-image" alt="home image">
            <h1 class="acumin"> WE BRING IN THE <br><span style="color: #FFD800 ;"><strong>TECHNOLOGICAL</strong></span>
                IMPACT</h1>
            <div class="row">
                <div class="col sub-text">
                    <p>
                        Sixinterns is a PAN India outsourcing solution solution, driving bussiness
                        development and research of growing business through
                        concept of 'Crowdsourcing in Outsourcing' which deals with the
                        huge student community of UG/PG programs in India
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col comp-text">
                    <p>
                        We are the fastest growing organisation with an incredible with<br>
                        and incredible community that we have formed in a short span
                    </p>
                </div>
            </div>
            </div>
        </article>
    </section>
    <section id="section2">
        <article>
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <label><a href="#about-us"> ABOUT </a></label>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <label><a href="#our-team"> TEAM </a></label>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <label><a href="#our-partners"> PARTNERS </a></label>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <label><a href="#miscellaneous"> MISCELLANEOUS </a></label>
                </div>
            </div>
            <hr class="style1">
            </div>
        </article>
    </section>
    <section id="section3">
        <div class="row">
            <div class="col">
                <h3 class="text-center acumin" id="about-us">Our Mission </h3>
                <div class="text-center">
                    <p>We are a technology company on a mission <br>to provide a internhip to the students <br>where
                        they can
                        "Earn while they learn"</p>
                </div>
            </div>
        </div>
    </section>
    <section id="section4" class="work-us" style="margin: 0em;">
        <div class="contian">
            <div class="row">
                <div class="col">
                    <div class="text-center work-head acumin">
                        <h3>Why Work With Us?</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center py-4">
                    <div class="num ">01</div>
                    <div class="tt" style="margin-top: -40px;margin-left: 100px">Work with us</div>
                    <div class="tt" style="margin-top: -7px;margin-left: 120px">incredible team</div>
                </div>
                <div class="col-lg-4 col-md-6 text-center py-4">
                    <div class="num">02</div>
                    <div class="tt" style="margin-top: -40px;margin-left: 40px">Lots of</div>
                    <div class="tt" style="margin-top: -7px;margin-left: 125px">Creative Freedom</div>
                </div>
                <div class="col-lg-4 col-md-6 text-center py-4">
                    <div class="num">03</div>
                    <div class="tt" style="margin-top: -40px;margin-left: 70px">Make A </div>
                    <div class="tt" style="margin-top: -7px;margin-left: 90px">Difference</div>
                </div>
                <div class="col-lg-4 col-md-6 text-center py-4">
                    <div class="num">04</div>
                    <div class="tt" style="margin-top: -40px;margin-left: 100px">A Career Path </div>
                    <div class="tt" style="margin-top: -7px;margin-left: 115px">Of Your Choice</div>
                </div>
                <div class="col-lg-4 col-md-6 text-center py-4">
                    <div class="num">05</div>
                    <div class="tt" style="margin-top: -40px;margin-left: 70px">Fun All</div>
                    <div class="tt" style="margin-top: -7px;margin-left: 80px">The Time</div>
                </div>
                <div class="col-lg-4 col-md-6 text-center py-4">
                    <div class="num">06</div>
                    <div class="tt" style="margin-top: -40px;margin-left: 100px">Flexible</div>
                    <div class="tt" style="margin-top: -7px;margin-left: 135px">Work-Hours</div>
                </div>
            </div>
        </div>
    </section>
    <section id="section5">
        <div class="container" id="our-team">
            <div class="row">
                <div class="col">
                    <h6 class="text-center">Meet Our Amazing Team</h6>
                    <h3 class="text-center acumin">The Faces Behind Our Success</h3>
                    <h6 class="text-center">We Couldn't Do It Without Them</h6>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-4 col-md-6">
                    <img src="images/employee/prachi.jpeg" alt="Emp 1"
                        class="img-fluid py-4 mx-auto d-block t-face">
                    <div class="img-text text-center">Prachi Dubey</div>
                    <div class="img-text text-center">Project Manager</div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="images/employee/ankur.jpeg" alt="banner-img"
                        class="img-fluid py-4 mx-auto d-block t-face">
                    <div class="img-text text-center">Ankur Agrawal</div>
                    <div class="img-text text-center">Operations</div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="images/employee/tharun.jpeg" alt="banner-img"
                        class="img-fluid py-4 mx-auto d-block t-face">
                    <div class="img-text text-center">Tharun Nani</div>
                    <div class="img-text text-center">HR</div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="images/employee/priyanka.jpeg" alt="banner-img"
                        class="img-fluid py-4 mx-auto d-block t-face">
                    <div class="img-text text-center">Priyanka Gupta</div>
                    <div class="img-text text-center">Graphic Designer</div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="images/employee/samhita.jpeg" alt="banner-img"
                        class="img-fluid py-4 mx-auto d-block t-face">
                    <div class="img-text text-center">Samhitha</div>
                    <div class="img-text text-center">Project Manager</div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="brands" id="section6" style="margin: 0em;">
        <div class="container">
            <div class="row">
                <div class="col text-center t-brand">
                    <h2 class="acumin" id="our-partners">Our Valuble Partners</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 justify-content-center align-self-center">
                    <img src="images/partnerLogo/zomato.png" alt="Zomato" class="brand-img">
                </div>
                <div class="col-lg-3 col-md-6 justify-content-center align-self-center">
                    <img src="images/partnerLogo/rapido.png" alt="Rapido" class="brand-img">
                </div>
                <div class="col-lg-3 col-md-6 justify-content-center align-self-center">
                    <img src="images/partnerLogo/ola.png" alt="Ola Cabs" class="brand-img">
                </div>
                <div class="col-lg-3 col-md-6 justify-content-center align-self-center">
                    <img src="images/partnerLogo/vogo.jpg" alt="Vogo" class="brand-img">
                </div>
            </div>
        </div>
    </section>
    <section class="misc">
        <div class="container">
            <div class="row" id="miscellaneous">
                <div class="col py-5 text-center t-misc">
                    <h3 class="acumin">Miscellaneous</h3>
                </div>
            </div>
            <div class="row misc-text">
                <div class="col-lg-3 col-md-6">
                    <div class="num-m text-center">
                        <h3>6</h3>
                    </div>
                    <div class="text-center">
                        <h4>Project Completed</h4>
                    </div>
                    <img src="images/pathImages/projects.PNG" alt="Projects" class="mx-auto d-block">
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="num-m text-center">
                        <h3>5</h3>
                    </div>
                    <div class="text-center">
                        <h4>Happy Clients</h4>
                    </div>
                    <img src="images/pathImages/love.PNG" alt="Love" class="mx-auto d-block">
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="num-m text-center">
                        <h3>2K+</h3>
                    </div>
                    <div class="text-center">
                        <h4>Lines Of Code</h4>
                    </div>
                    <img src="images/pathImages/code.PNG" alt="Codes" class="mx-auto d-block">
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="num-m text-center">
                        <h3>2</h3>
                    </div>
                    <div class="text-center">
                        <h4>Awards</h4>
                    </div>
                    <img src="images/pathImages/reward.PNG" alt="Reward" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </section>
    <section id="start-proj">
        <div class="row">
            <div class="col">
                <h2>Like to Start a Project With Us?</h2>
                <h5>We Can Do It Together</h5>
                <p><q><i>We Only Bill on Deliverables, Not on Manpower</i></q></p>
                <button class="btn-yellow"><a href="">Request Quote</a></button>
            </div>
        </div>
    </section>
    <%- include('partials/footer'); -%>