<%- include('partials/header'); -%>
<body>
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/campus-ambassador.css">
    <section id="landing">
        <header>
            <nav class="acumin">
                <a class="navbar-brand" href="home"><img src="images/clogo.png" alt="Comapny Logo"></a>
                <button class="btn-invert"><a href="login">Log In / Sign Up</a></button>
            </nav>
        </header>
        <img src="images/projImages/college kids.png" alt="College Kids" class="landing-image">
        <div>
            <div class="container">
                <div class="main-message">
                    <h1 class="acumin">Think You Have What It <br>Takes To Be <span
                            style="color:#FFD800;"><strong>Leader?</strong></span></h1>
                    <h3>Become a <span class="camamb"><strong>Campus Ambassador</strong></span></h3>
                    <button class="btn-yellow">Apply Now</button>
                </div>
            </div>
        </div>
    </section>
    <section class="perks">
        <div class="container">
            <div class="title-heading">
                <h1><span class="perks1 acumin">Perks</span></h1>
                <div class="perks2">
                    <p>At SixInterns we believe that one should never work for free. Embracing the culture of paid
                        Internships.
                    </p>
                </div>
                <div class="activites-grid">
                    <!--grid item 1-->
                    <div class="activites-grid-item growth">
                        <i class="fas fa-chart-line fa-3x"></i>
                        <h1 class="acumin">Growth</h1>
                        <p>
                            Sixinterns is a start-up which is growing at a very fast pace creating a lot of
                            internship opportunities, part-time job opportunities for the students community all
                            over India
                        </p>
                    </div>
                    <div class="activites-grid-item learn">
                        <i class="fas fa-book-reader fa-3x"></i>
                        <h1 class="acumin">Learn</h1>
                        <p>
                            Understanding & implementing should go together in today’s practical life. Keeping
                            this
                            in mind, we take care of individual’s growth as company/organization while including
                            another corporate experience to your resume/curriculum vitae
                        </p>
                    </div>
                    <div class="activites-grid-item rewards">
                        <i class="fas fa-gift fa-3x"></i>
                        <h1 class="acumin">Rewards</h1>
                        <p>
                            Apart from incentive, stipend, certificate of excellence and a letter of
                            recommendation,a life-time privilege for guidance from the Managers & credit yourself as a
                            campus ambassador for Sixinterns in your resume, LinkedIn profile, blogs, etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials">
        <div class="founder">
            <h1>A Message form the Founder</h1>
            <div class="founder-contain">
                <div class="founder-image">
                    <img src="images/employee/tharun.jpeg" alt="Founder-Tharun Kumar">
                </div>
                <div class="founder-text">
                    <h5><i>" Your Ambassador are ready to help your brand grow "</i></h5>
                    <h6>THARUN KUMAR</h6>
                    <p>Founder</p>
                </div>
            </div>
        </div>
    </section>
    <section class="begin-adventure">
        <div class="container">
            <div class="title-head">
                <h3>FALL IN LOVE</h3>
                <h1>WITH OUR <span class="features">FEATURES</span> </h1>
            </div>
            <div class="adventure-grid">
                <div class="adventure-grid-item">
                    <h1>Branding</h1>
                    <p>
                        Generating and spreading brand awareness and recognition about Sixinterns internships in
                        your location, college and online community through electronic media, various social
                        associations and social association. You can post a status update on sites such as
                        Twitter,
                        Facebook and LinkedIn, with a link to your job posting.
                    </p>

                </div>
                <div class="adventure-grid-item">
                    <h1>Social Media</h1>
                    <p>
                        Six interns can help you develop multiple skills such as social media marketing, content
                        marketing, organizing seminars, taking workshops etc. And the most interesting part is
                        that
                        you even get to earn rewards such as cash incentives, gift vouchers, and even some cool
                        merchandise
                    </p>
                </div>
                <div class="adventure-grid-item">
                    <h1>Networking</h1>
                    <p>
                        At Sixinterns, campus ambassador is usually expected to work as much as they could, so
                        it
                        also helps you become a better planner in terms of managing your academic
                        responsibilities
                        along with your campus ambassador work. You can also include your campus ambassador
                        experience on your resume – it is a valuable addition.
                    </p>
                </div>
                <div class="adventure-grid-item">
                    <h1>Poster</h1>
                    <p>
                        Put up the posters of the internship on the student advertisement board, college mess or
                        cafeteria of your college within 4 days of accepting it.
                    </p>
                </div>
                <div class="adventure-grid-item">
                    <h1>Registration</h1>
                    <p>
                        Earn a substantial figure of students to enroll on the Sixinterns website via provided
                        link

                    </p>
                </div>
                <div class="adventure-grid-item">
                    <h1>Email</h1>
                    <p>
                        Circulate the internship mail to your student mailing list within 5 days of receiving
                        the
                        mailer.

                    </p>
                </div>
            </div>
            <div class="wrapper">
                <button class="btn-yellow"><a href="">Apply Now</a></button>
            </div>
        </div>
    </section>
<%- include('partials/footer'); -%>