<%- include('partials/header'); -%>
<body>
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/contact.css">
    <section id="landing">
        <header>
            <nav class="acumin">
                <a class="navbar-brand" href="home"><img src="images/clogo.png" alt="Comapny Logo"></a>
                <button class="btn-invert"><a href="login">Log In / Sign Up</a></button>
            </nav>
        </header>
        <!-- Main Text -->
        <div class="hero">
            <div class="hero_heading text-center">
                <h1 class="acumin"><span class="yell">CONTACT</span> US</h1>
                <div><span class="glyphicon glyphicon-play text-center" data-toggle="modal" data-target="#myModal">
                        <h3 class="g playtext">We would be happy to assist you</h3>
                    </span> </div>
            </div>
        </div>
    </section>

    <section id="section2">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="input-card">
                    <h1>Call Us, Write Us, or Knock on Our Doors</h1>
                    <form action="" method="post">
                        <input type="text" placeholder="Name"><br>
                        <input type="email" placeholder="Email"><br>
                        <input type="number" placeholder="Mobile Number"><br>
                        <textarea name="" cols="35" rows="3" placeholder="Message"></textarea>
                        <input type="submit" class="btn-yellow" value="Send">
                    </form>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="inputcard2">
                    <h1>We Would Be Happy To Help You</h1><br>
                    <h4>Sunday: Closed</h4>
                    <h4>Monday - Friday: 9AM - 7PM</h4>
                    <h4>Saturday: 9AM - 5PM</h4>
                </div>
            </div>
        </div>
    </section>

    <section id="section2">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="cardinp">Let's Meet</h1>
            </div>
        </div>

        <div class="row cardssection">
            <div class="col-lg-3 col-md-3 col-sm-12 meetcards">
                <img src="images/pathImages/phone.PNG" alt="Give Us a Call" class="cardimg">
                <h3><strong>Give Us A Call</strong><br> <span class="numbers">+91-8142193153</span></h3>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 meetcards">
                <img src="images/pathImages/map.PNG" alt="On the map" class="cardimg">
                <h3><strong>We're On The Map</strong><br> <span class="numbers">Jalandhar - Delhi G.T.Road Phagware.
                        Punjab
                        144411</span></h3>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 meetcards">
                <img src="images/pathImages/message.PNG" alt="Send Message" class="cardimg">
                <h3><strong>Send Us A Message</strong><br> <span class="numbers">support@sixinterns.com</span></h3>
            </div>
        </div>
    </section>

    <section id="work-with-us">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="inputcard3">
                    <h1>Want To Learn <br>More About Our Services</h1><br>
                    <h3><i>"We Only Bill On Deliverables, Not On Manpower"</i></h3>
                    <button class="btn-yellow"><a href="">Enquire Now</a></button>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <img src="images/projImages/teachinglady.png" alt="Teaching Lady" class="contactfinal">
            </div>
        </div>
    </section>
<%- include('partials/footer'); -%>