<%- include('partials/header'); -%>
<body>
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/home.css">
    <section id="landing">
        <img src="images/projImages/womanusinglaptop.jpg" alt="Woman Using Laptop" class="landing-image">
        <div class="overlay">
            <header>
                <nav class="acumin">
                    <a class="navbar-brand" href="home"><img src="images/clogo.png" alt="Comapny Logo"></a>
                    <button class="btn-invert"><a href="login">Log In / Sign Up</a></button>
                </nav>
            </header>
            <div id="banner-text">
                <article>
                    <h1 class="heading acumin">We Compete to<br>Complete the <span
                            style="color:#FFD800;"><strong>Work</strong></span></h1>
                    <p>Businesses get their work done. Workforce get the chance to earn while they learn and work.
                        SixInterns upskills people and provides right tools, driving them towards work fulfillment.</p>
                    <a href="internships" class="btn-blue">Looking for Work</a>
                    <a href="#" style="color:black;" class="btn-white">Want to get the work done</a>
                    <img src="images/pathImages/mouse.png" alt="Mouse">
                </article>
            </div>
        </div>
    </section>
    <section id="section2">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="input-card">
                    <h1><Strong>Subscribe</Strong><br>to our Weekly Newsletter</h1>
                    <form action="" method="post">
                        <input type="text" placeholder="Name"><br>
                        <input type="email" placeholder="E-mail"><br>
                        <input type="submit" class="btn-yellow" value="Sign me Up">
                    </form>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="valuable-partners">
                    <h1>Our Valuable Partners</h1>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 justify-content-center">
                            <img src="images/partnerLogo/ola.png" alt="Ola Cabs">
                        </div>
                        <div class="col-md-3 col-sm-6 justify-content-center">
                            <img src="images/partnerLogo/rapido.png" alt="Rapido">
                        </div>
                        <div class="col-md-3 col-sm-6 justify-content-center">
                            <img src="images/partnerLogo/vogo.jpg" alt="Vogo">
                        </div>
                        <div class="col-md-3 col-sm-6 justify-content-center">
                            <img src="images/partnerLogo/zomato.png" alt="zomato">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section3">
        <h1>What we do?</h1>
        <div class="row ">
            <div class="col-md-4 col-sm-12 my-row">
                <img src="images/pathImages/check.png" alt="We Take Requirements from Clients">
                <h4>We take Requirements from Clients</h4>
                <p>Enterprises give us their requirement. We convert that into simpler tasks - full-time work, part-time
                    work, internships, and make them live on our platform</p>
            </div>
            <div class="col-md-4 col-sm-12 my-row">
                <img src="images/pathImages/gig.png" alt="Gets their Work Done by Gig Workers">
                <h4>Gets their Work Done by Gig Workers</h4>
                <p>Gig workers apply on the task, get selected, get trained in the app and then go out to work in their
                    city to complete the tasks in the app.</p>
            </div>
            <div class="col-md-4 col-sm-12 my-row">
                <img src="images/pathImages/money.png" alt="Client pays us & we pay Gig Workers">
                <h4>Client pays us & we pay Gig Workers</h4>
                <p>Gig workers get paid on completion of the task and Awign bills the enterprise for the completed task
                    after thorough quality control measures.</p>
            </div>
        </div>
    </section>
    <section id="section4">
        <h1>Work With Us</h1>
        <div class="row my-row">
            <div class="col-md-6 my-col">
                <h4>Find Work</h4>
                <p>Workforce while being hardworking, struggles with lack of industry skills and relevant jobs in their
                    city. Few are ambitious, some want to earn their bread & butter and others want to learn & grow. We
                    drive them towards these aspirations by solving their problems through full time jobs, part time
                    jobs, internships</p>
                <a href="" class="btn-blue">Login/Register</a>
            </div>
            <div class="col-md-6 my-col yellow-border">
                <h4><span class="yellow">Want to get the work Done?</span></h4>
                <p>Growing a business takes up a huge risk and investment with no guarantee of results and no proper way
                    to monitor the ground reality. Our outcome-driven tech platform settles this by not only setting up
                    everything required, but also ensuring work being fulfilled across varied business functions.</p>
                <a href="" class="btn-yellow">Request Quote</a>
            </div>
        </div>
    </section>
    <section id="section5">
        <h1>What Our Interns Say</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-contain">
                        <div class="carousel-card">
                            <img src="images/testimonial/sravanthi.jpg" alt="p1" class="testimonial-image">
                            <div class="testimonial-text">
                                <p>I am a 2nd year student of Amity University Marketing.
                                    I found out about SixInterns very recently and it’s awesome.</p>
                                <h5>Sravanthi</h5>
                                <h6>Amity University</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-contain">
                        <div class="carousel-card">
                            <img src="images/testimonial/meghna.jpeg" alt="p1" class="testimonial-image">
                            <div class="testimonial-text">
                                <p>Although it was my first internship with six interns the managers were so friendly
                                    approach as well.</p>
                                <h5>Meghana Pattanaik</h5>
                                <h6>Trident Academy Of Technology </h6>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-contain">
                        <div class="carousel-card">
                            <img src="images/testimonial/rimjhim.jpeg" alt="p1" class="testimonial-image">
                            <div class="testimonial-text">
                                <p>Provided me with an opportunity to use my knowledge for practical use and honing my
                                    skills.</p>
                                <h5>Rimjhim</h5>
                                <h6>Lovely Professional University</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-contain">
                        <div class="carousel-card">
                            <img src="images/testimonial/sam.jpg" alt="p1" class="testimonial-image">
                            <div class="testimonial-text">
                                <p>Amazing first internship experience at Sixinterns.</p>
                                <h5> Samhitha Jayanthi</h5>
                                <h6>Anurag Group Of Institutions</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <img src="images/pathImages/previous.png" alt="Previous Image">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                <img src="images/pathImages/next.png" alt="Next Image">
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <!-- End Of All Sections and begin section5 which is footer -->
    <%- include('partials/footer'); -%>