<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151248943-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151248943-1');
    </script><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151248943-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151248943-1');
    </script>
    
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5e7c4ed735bcbb0c9aaa81e0/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap"
        rel="stylesheet">
    <!-- Adobe Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/fqg1isj.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/internships.css">
    <!-- Link Favicon -->
    <link rel="shortcut icon" href="images/clogo.png" type="image/x-icon">
    <!-- Font-Awesome -->
    <script src="https://kit.fontawesome.com/169b188851.js" crossorigin="anonymous"></script>
    <!-- Bootstrap Js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Meta Tags -->
    <meta name="description"
        content="Sixinterns is a PAN India outsourcing solution solution, driving bussiness development and research of growing business through 'Crowdsourcing in Outsourcing'">
    <meta name="keywords" content="Internships, PAN, Online Money, Businesses, IT Solution">
    <meta name="author" content="Sixinterns">
    <title>Internships - Sixinterns</title>
</head>

<body>
    <section id="landing">
        <header>
            <nav class="acumin">
                <a class="navbar-brand" href="home"><img src="images/clogo.png" alt="Comapny Logo"></a>
                <button class="btn-invert"><a href="login">Log In / Sign Up</a></button>
            </nav>
        </header>
    </section>

    <!-- Internship Page Detais -->
    <section>
        <div class="container">
            <div class="row hr-bar">
                <div class="col">
                    <label><a href="home"><i class="fas fa-arrow-circle-left"></i> Back</a></label>
                    <ul class="type">
                        <li><button class="internships active" id="op1">Internships</button></li>
                        <li><button class="part-time" id="op2" return false>Part Time Jobs</button></li>
                        <li><button class="full-time " id="op3">Full Time Jobs</button></li>
                        <li><button class="quick-money" id="op4">Quick Money</button></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container" id="jobs">
            <!-- Internships -->
            <article id="internships">
                <div class="row">
                    <div class="col-md-4 col-sm-6 intern-list-items">
                        <a href="https://share.hsforms.com/1-69mPMGuQ-63nfkPUUnW2g4hncu">
                            <figure><img src="images/clogo.png" alt="Sixinterns" style="object-fit: contain;">
                            </figure>
                            <h1>Fundraising For Sixinterns</h1>
                            <h6>Perks: Certificate, LoR</h6>
                            <p><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;1 Month</p>
                            <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Multiple Pincodes</p>
                            <button class="btn-blue-inverse"> <a
                                    href="https://share.hsforms.com/1-69mPMGuQ-63nfkPUUnW2g4hncu">Apply</a></button>
                        </a>
                    </div>
                </div>
            </article>

            <!-- Part-Time -->
            <article class="hide" id="part-time">
                <div class="row">
                    <div class="col-md-4 col-sm-6 intern-list-items">
                        <a href="https://share.hsforms.com/1-69mPMGuQ-63nfkPUUnW2g4hncu">
                            <figure><img src="images/clogo.png" alt="Sixinterns" style="object-fit: contain;">
                            </figure>
                            <h1>Fundraising For Sixinterns</h1>
                            <h6>Perks: Certificate, LoR</h6>
                            <p><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;1 Month</p>
                            <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Multiple Pincodes</p>
                            <button class="btn-blue-inverse"> <a
                                    href="https://share.hsforms.com/1-69mPMGuQ-63nfkPUUnW2g4hncu">Apply</a></button>
                        </a>
                    </div>
                </div>
            </article>

            <!-- Full Time -->
            <article class="hide" id="full-time">
                <div class="row">
                    <div class="col-md-4 col-sm-6 intern-list-items">
                        <a href="https://share.hsforms.com/1-69mPMGuQ-63nfkPUUnW2g4hncu">
                            <figure><img src="images/clogo.png" alt="Sixinterns" style="object-fit: contain;">
                            </figure>
                            <h1>Fundraising For Sixinterns</h1>
                            <h6>Perks: Certificate, LoR</h6>
                            <p><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;1 Month</p>
                            <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Multiple Pincodes</p>
                            <button class="btn-blue-inverse"> <a
                                    href="https://share.hsforms.com/1-69mPMGuQ-63nfkPUUnW2g4hncu">Apply</a></button>
                        </a>
                    </div>
                </div>
            </article>

            <!-- Quick Money -->
            <article class="hide" id="quick-money">
                <div class="row">
                </div>
            </article>
        </div>
    </section>
</body>
<!-- Custom Js -->
<script src="javascript/navbar.js"></script>
<script type="text/javascript" src="javascript/internships.js"></script>

</html>